{% extends 'base.html' %}

{% block title %} Update {% endblock title %}

{% block content %}
<div class="row ">
    <div class="col-sm-8 offset-2">
        <h2 class=" text-center alert alert-info"> Update User Information </h2>
        <form action="" method="POST">
            {% csrf_token %}
            {{fm.as_p}}
            
                
            <input type="submit" class="btn btn-success"  value="Update">
            

        </form>
    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>

{% endblock javascripts %}




